@if (emptyFields()) {
<div class="bg-red-500 text-white p-4 rounded mb-4 justify-between flex items-center">
    {{emptyFields()}}
    <button class="cursor-pointer" (click)="emptyFields.set('')">
        X
    </button>
</div>
}
<div class="bg-white p-7 min-w-lg  flex flex-col gap-4 rounded-2xl">
    @for (item of inputs; track $index) {
    <div class="flex flex-col gap-2">

        <label [for]="item.id" class="text-black font-medium">{{item.label}}</label>
        <input [value]="item.model()" [required]="item.required" [type]="item.type" [id]="item.id"
            (input)="item.model.set($event.target.value)" [placeholder]="item.placeholder" class="bg-gray-100 text-black placeholder:text-gray-700 border border-gray-500 focus:outline-none 
            focus:ring-2 focus:ring-blue-500 focus:border-transparent rounded py-2 px-3" />
    </div>
    }

    <button type="submit" (click)="createCharacter()"
        class="bg-blue-500 cursor-pointer hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Guardar
    </button>
</div>